<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="averin.sirs.com">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_sirs"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_sirs_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.D_Medis"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DetailMR"
            android:exported="false"
            android:theme="@style/Theme.D_Medis.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainSwepLihatResep"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PrivyInfo"
            android:exported="false"
            android:theme="@style/Theme.D_Medis.NoActionBar" />
        <activity
            android:name=".list_doctor_shimmer"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ChangePassword"
            android:exported="false"
            android:theme="@style/Theme.D_Medis.NoActionBar" />
        <activity
            android:name=".listcariDokter"
            android:exported="false"
            android:theme="@style/Theme.D_Medis.NoActionBar" />
        <activity
            android:name=".EditPasienLama"
            android:exported="false"
            android:theme="@style/Theme.D_Medis.NoActionBar" />
        <activity
            android:name=".DetailKlinik"
            android:exported="false"
            android:theme="@style/Theme.D_Medis.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".AntrianDetail"
            android:exported="false"
            android:theme="@style/Theme.D_Medis.NoActionBar" />
        <activity
            android:name=".ScanQRCode"
            android:exported="false"
            android:theme="@style/Theme.D_Medis.NoActionBar" />
        <activity
            android:name=".DaftarPoli"
            android:exported="false"
            android:theme="@style/Theme.D_Medis.NoActionBar" />
        <activity
            android:name=".RegistbyProvinsi"
            android:exported="false"
            android:label="@string/title_activity_registby_provinsi"
            android:theme="@style/Theme.D_Medis.NoActionBar" />
        <activity
            android:name=".MRpasienActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.D_Medis.NoActionBar" />
        <activity
            android:name=".AntrianActivity"
            android:exported="false"
            android:label="AntrianActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.D_Medis.NoActionBar" />
        <activity
            android:name=".CropImage"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.D_Medis.NoActionBar" />
        <activity
            android:name=".RegistrasiActivity"
            android:exported="false"
            android:label="RegistrasiActivity"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/Theme.D_Medis.NoActionBar" />
        <activity
            android:name=".RegistLab"
            android:exported="false"
            android:label="@string/title_activity_regist_lab"
            android:parentActivityName=".RegistPasienLama"
            android:theme="@style/Theme.D_Medis.NoActionBar" />
        <activity
            android:name=".RegistPoli"
            android:exported="false"
            android:theme="@style/Theme.D_Medis.NoActionBar" />
        <activity
            android:name=".RegistPasienLama"
            android:exported="false"
            android:theme="@style/Theme.D_Medis.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.D_Medis.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistKlinik"
            android:exported="false"
            android:theme="@style/Theme.D_Medis.NoActionBar" />
        <activity
            android:name=".InfoDmedis"
            android:exported="false"
            android:theme="@style/Theme.D_Medis.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.D_Medis.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.D_Medis.NoActionBar" />
    </application>

</manifest>